<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EssentialFeesCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF2DBBE92AEFF625004F5AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF2DBBF02AEFF625004F5AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF4005582964814C00D04100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF4005602964814D00D04100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF4582172979955E009591D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF7D5B312AEFB793000C53C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
