<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF4A648C2AFE725600E2FB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF96E7AC2AF91C5400B469DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF96E7C22AF91C5600B469DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
